body {
	font-family: Calibri;
	min-width: 500px;
}

table {
	border-collapse:collapse;
}

table tr {
	border-bottom: solid 2px #d9e3dc;
}

table tr td {
	text-align : center;
	width: 100%;
}

div .main_title {
	border-bottom: solid 2px #d9e3dc;
	font-weight:700;
	color: #c0cac3;
	font-style: italic;
	text-align :center;
}